<div class="row">
  <div class="col s12">
    <p id="notice"><%= notice %></p>

    <h3>Vías de denuncia U. de Santiago</h3>

    <div class="row">
      <div class="col s4">
        <h6>Contenido actual:</h6>
      </div>
      <div class="col s8">
        <%= link_to 'Editar', edit_usach_complaint_path(@usach_complaint), class: 'btn white-text' %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        
        <%= @usach_complaint.content %>
      </div>
    </div>

  </div>
</div>
