<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @usach_complaint.content %>
</p>

<%= link_to 'Edit', edit_usach_complaint_path(@usach_complaint) %> |
<%= link_to 'Back', usach_complaints_path %>
