<div class="row">
	<div class="col s12">
		<h3>Nueva Definición</h3>
		<br>
		
		<%= render 'form' %>

		<a href="<%= definitions_path %>"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
	</div>
</div>
