<div class="row">
	<div class="col s12">
		<h3>Nueva Ley o Acuerdo</h3>

		<%= render 'form' %>

		<a href="<%= legals_path %>"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
	</div>
</div>
