<div class="row">
	<div class="col s12">
		<h3>Editar sección "Están obligados a denunciar"</h3>

		<%= render 'form' %>

		<a href="<%= forced_reports_path %>"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
		
	</div>
</div>
