<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @forced_report.content %>
</p>

<%= link_to 'Edit', edit_forced_report_path(@forced_report) %> |
<%= link_to 'Back', forced_reports_path %>
